@charset "UTF-8";
/* all */
html,
body { width: 100%; height: 100%; color: #003459; font-family: "Open Sans"; font-weight: 300; line-height: 1.5; background: #003459; -webkit-font-smoothing: antialiased; }

input { font-size: 100%; }
h1 { color: #003459; font-size: 36px; }
p { font-size: 25px; }
a { font-size: 25px; color: #003459; text-decoration: underline; }
* { box-sizing: border-box; }

.label-1 circle { fill: #ff5f63; }
.label-2 circle { fill: #29cff5; }
.label-3 circle { fill: #49bca1; }
.label-4 circle { fill: #fed546; }

.container { padding: 50px; background-color: white; width: 50%; margin: 0 auto; }
.header { position: absolute; right: 15px;  height: fit-content; }

.flex-container {
    display: flex;
    justify-content: space-around;
}
.flex-container img {
    height: 70px;
    justify-content: center;
}
.flex-container p {
    justify-content: center;
    height: 20px;
    margin: 0;
    font-size: 25px;
}

.flex-container > div {
    height: 150px;
    border-radius: 20px;
    display: block;
    background-color: #ff5f63;
    width: 200px;
    text-align: center;
    font-size: 30px;
    align-content: center;
    padding: 20px 0;
}


.status-inner img { position: relative; }

.settings { margin-top: 50px; }
.help { margin-top: 50px; }

.settings-lang { font-size: 25px; }

.settings-inner textarea {height: 150px; width: 350px;}